CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.indexPage = ''
app.appTimezone = 'Europe/Berlin'

database.default.hostname = localhost
database.default.database = daytrack_max
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

daytrack.frontendURL = 'http://localhost:3000'
daytrack.cronKey =
daytrack.verificationTokenMinutes = 1440
daytrack.resetTokenMinutes = 60
daytrack.logRetentionDays = 30

cookie.secure = false
cookie.samesite = Lax

email.fromEmail = 'no-reply@example.com'
email.fromName = 'DayTrack Max'
